<div class="container">
	<div class="row">
		<h1>Parks</h1>
	</div>

	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<button class="btn btn-success" type="submit" id="search-btn">Search</button>
		</div>
		<input type="text" class="form-control" placeholder="Park Name or Keyword" name="search" id="search-input">
	</div>

	<div id="parks-section"></div>

</div>
<script src="/js/parksLogic.js"></script>
